<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost/inventory</property>
        <property name="hibernate.connection.username">guest</property>
        <property name="hibernate.connection.password">210900</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="bg.tu_varna.sit.inventory.data.entities.Admin" />
        <mapping class="bg.tu_varna.sit.inventory.data.entities.Cardboard" />
        <mapping class="bg.tu_varna.sit.inventory.data.entities.Customer" />
        <mapping class="bg.tu_varna.sit.inventory.data.entities.DefectiveProduct" />
        <mapping class="bg.tu_varna.sit.inventory.data.entities.AccountablePerson" />
        <mapping class="bg.tu_varna.sit.inventory.data.entities.Product" />
        <mapping class="bg.tu_varna.sit.inventory.data.entities.States" />
        <mapping class="bg.tu_varna.sit.inventory.data.entities.Type" />

    </session-factory>
</hibernate-configuration>
